.footer {
    background-color: #222;
    padding: 3em;
    text-align: center;
    color: azure;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 30px;
}

.social_list  a {
    margin: 0 1em;
    font-size: 25px;
    color: azure;
}

.social_list a:hover {
    color: #ff3300fa;
}
.link {
    color: azure;
    text-decoration: none;
}

.link:hover {
    color: #ff6a00;
}