.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgLoca {
    width: 100%;
    height: 75vh;
}

.section h1 {
    width: auto;
    max-width: 100%;
    font-size: 40px;
    color: #03032c;
}